# VSCode
.vscode

# Python
__pycache__/
.venv
uv.lock

# Nodejs
node_modules/
hook.js

# Claude Code
.claude
CLAUDE.md

# Reqable
*.har

# Author Request
TextCleaner_Softpal.py

build